
<div class="submission" id="{{submission.id}}" ng-class="{collapsed:ctrl.expanded!=true,selected:submission.selected==true}" ng-click="ctrl.onClick()">
	<div ng-if="ctrl.loading === true">
		<div class="loading-container col-md-12">
			<div us-spinner spinner-key="tweet-list" spinner-start-active="true"></div>
		</div>
	</div>
	<div ng-if="ctrl.loading !== true" class="submission-cntr">
		<div class="vote-box">
			<div class="arrow up"></div>
			<div class="score">{{submission.data.score}}</div>
			<div class="arrow down"></div>
		</div>	
		<a class="thumbnail">
			<div class="image"></div>
		</a>
		<div class="entry">
			<p class="title">
				<a class="title">{{submission.data.title}}</a>
				<span class="domain">(<a>{{submission.data.domain}}</a>)</span>
			</p>
			<div class="expand-button"></div>
			<p class="tagline">submitted 
				<span class="time" title="{{submission.created_utc}}" am-time-ago="submission.created_utc"></span>
				by
				<a href="https://www.reddit.com/user/{{submission.author}}" class="author">{{submission.author}}</a>
			</p>
            <p class="selftext" ng-if="submission.data.selftext" markdown-to-html="submission.data.selftext"></p>
			<ul class="flat-list buttons">
				<li><a>{{submission.data.num_comments}} comments</a></li>
                <li><a href="{{submission.data.permalink}}">permalink</a></li>
				<li><a>save</a></li>
				<li><a>parent</a></li>
				<li><a>report</a></li>
				<li><a>give gold</a></li>
				<li><a>reply</a></li>
			</ul>
			<!-- <codelist code-instances="submission.codes"></codelist> -->
			<div class="code-container"></div>
		</div>
	</div>
</div>
