

<div class="comment" ng-class="{collapsed:ctrl.expanded!=true,selected:ctrl.data.selected==true}" id="{{ctrl.comment.data.id}}">
	<div ng-if="ctrl.loading === true">
		<div class="loading-container col-md-12">
			<div us-spinner spinner-key="tweet-list" spinner-start-active="true"></div>
		</div>
	</div>
	<div ng-hide="ctrl.loading === true" class="comment-cntr">
		<div class="vote-box">
			<div class="arrow up"></div>
			<div class="arrow down"></div>
		</div>
		<div class="entry">
			<p class="tagline">
				<a class="expand" ng-click="ctrl.toggleExpand()"><span ng-switch on="ctrl.expanded"><span ng-switch-when="true">[-]</span><span ng-switch-default>[+]</span></span></a>
				<a href="https://www.reddit.com/user/{{ctrl.comment.data.author}}" class="author">{{ctrl.comment.data.author}}</a>
				<span class="userattrs"></span>
				<span class="score unvoted">{{ctrl.comment.data.data.score}} points</span>
				<span class="time" title="{{ctrl.comment.data.created_utc}}" am-time-ago="ctrl.comment.data.created_utc"></span>
				<a class="numchildren" ng-click="ctrl.toggleExpand()">({{ctrl.comment.data.num_children}} children)</a>
			</p>
			<div class="usertext-body">
				<p markdown-to-html="ctrl.comment.data.data.body"></p>
			</div>
			<ul class="flat-list buttons">
				<li><a>permalink</a></li>
				<li><a>save</a></li>
				<li><a>parent</a></li>
				<li><a>report</a></li>
				<li><a>give gold</a></li>
				<li><a>reply</a></li>
			</ul>
		</div>
		<div class="code-container"></div>
	</div>
	<div class="children">
		<ul class="comment-replies no-bullets">
			<li ng-repeat="reply in ctrl.comment.children"><recomment comment="reply" show-codes="showCodes"></recomment></li>
		</ul>
	</div>

</div>