{% load staticfiles %}

<!DOCTYPE html>
<html lang="en-us">
<head {% block head_attrs %}{% endblock %}>
	<meta charset="utf-8">
	<title>{% block title %}Coding Tool{% endblock %}</title>

	<link rel="stylesheet" href="{% static "css/vendor/normalize.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/vendor/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "css/base.css" %}">


	{% block additional_head %}
	{% endblock %}

    <style>
    {% block page_style %}
    {% endblock %}
    </style>
</head>
<body>
	<div id="page-wrapper">
		{% include "base/header.html" %}

		<div id="content-wrapper">
			<div class="content">
				{% block content %}
					<h1>{% block inpage_title %}{% endblock %}</h1>
					{% block inner_content %}{% endblock %}
				{% endblock %}
			</div>
		</div>

		{% include "base/footer.html" %}
	</div>


	<script src="{% static "js/vendor/jquery.min.js" %}"></script>
	<script src="{% static "js/vendor/angular.js" %}"></script>
	<script src="{% static "js/vendor/angular-ui-router.js" %}"></script>
	<script src="{% static "js/vendor/bootstrap.min.js" %}"></script>


    {% block end_scripts %}
    {% endblock %}


</body>
</html>